<form action="/shorteners" method="POST">
  <div class="pt-5 pb-2">
    <input
      type="URL"
      name="url"
      placeholder="Input URL here"
      class="p-2"
      style="width:60vw"
    />
  </div>
  <div class="d-grid col-4 mx-auto">
    <button type="submit" class="btn btn-outline-primary p-2">Shorten</button>
  </div>

</form>