<div class="mt-5">
  <h1>Success！ Please use this link:</h1>
  <a
    href="/{{shorten.shortURL}}"
    target="_blank"
  >http://localhost:3000/{{shorten.shortURL}}</a>
</div>
<a href="/shortener/{{shorten._id}}/copy" class="btn btn-primary m-2">Copy</a>